{% extends "base.html" %} 
{% block title %}TRACK PACK{% endblock title %} 
{% block content %}

  <h3 class="text-2xl/7 font-bold text-white text-center sm:truncate sm:text-3xl sm:tracking-tight">Colis Suivis</h3>

  <div class="block w-full rounded-md bg-white/5 px-2 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">

    <a href="/" class="flex flex-end w-fit rounded-md bg-green-400/10 px-2 py-1 m-5 text-xs font-medium text-green-400 inset-ring inset-ring-green-500/20">back</a>

    <form method="post" class="my-form space-y-6 block text-sm/6 font-medium text-gray-100 mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      {% csrf_token %}
      <input type="text" name="tracking_number" id="tracking_number" placeholder="numero de suivie"/>
     
      <button type='submit' class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Suivre colis</button>
    </form>

    {% if parcel %}
      <h2>Resultat</h2>
      <p>Numero de suivi :{{parcel.tracking_number}}</p>
      <p>Statut :{{parcel.status}}</p>
      <p>Name :{{parcel.name}}</p>
      <p>Activity :{{parcel.activity}}</p>
    {% elif error %}
      <p>Erreur: {{ error}}</p>
    {% endif %}

    <style>
     .my-form input{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 6px 12px;
        margin: 2px;
        border-radius: 12px;
        width: 100%;
      }
    </style>
  </div>
{% endblock %}


